{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
<div class="row">
                {% for category, message in messages %}
                    <div class="alert {{ category }} span12 main-alert" id="flash">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        &nbsp;&nbsp;{{ message }}
                    </div>
                {% endfor %}
		    </div>
        {% endif %}
    {% endwith %}
