{% macro render_sitem(endpoint, display, iconcls='', active='') %}
    <li {% if request.endpoint == endpoint or active == endpoint %} class='active' {% endif %}>
        <a class='{{ cls }}' href="{{ url_for(endpoint) }}"><i class="{{ iconcls }} icon-white"></i> {{ display }}</a>
    </li>
    <li class="divider-vertical"></li>
{% endmacro %}

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#" name="top">
                <img src="{{ url_for('static', filename='img/scissors-small.svg') }}"/>
                Snipey</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{ render_sitem('index', 'Home', iconcls='icon-home', active=active_page) }}
                    {{ render_sitem('about', 'About', iconcls='icon-info-sign', active=active_page) }}
                    {% if g.user %}
                        {{ render_sitem('subscribe', 'Add Subscriptions', iconcls='icon-plus-sign', active=active_page) }}
                        {{ render_sitem('snipes', 'Manage Subscriptions & Snipes', iconcls='icon-calendar', active=active_page) }}
                        {{ render_sitem('logout', 'Logout', iconcls='icon-share', active=active_page) }}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>