{% import "bootstrap_wtf.html" as wtf %}
{% if snipes %}
    <h2 class="text-info" id="snipes-title">Snipes</h2>
{% endif %}
{% if not snipes %}
    <h2 class="text-info" id="snipes-title">No Snipes</h2>
{% endif %}
<p>
    <small>Your scheduled and completed snipes. To cancel future snipes, delete the subscription for the group.</small>
</p>
{% if snipes %}
    <div class="well well-small">
        <table class="table">
            <thead>
            <tr>
                <th class="span2">Status</th>
                <th class="span6">Group</th>
                <th class="span4">Event</th>
            </tr>
            </thead>
            <tbody>
            {% for snipe in snipes %}
                <tr>
                  {% if snipe.status == 0 %}
                  <td><span class="label label-warning"> Scheduled </span></td>
		  {% endif %}
		  {% if snipe.status == 1 %}
                  <td><span class="label label-success"> Succeded </span></td>
		  {% endif %}
		  {% if snipe.status == 2 %}
                  <td><span class="label label-important"> Failed </span></td>
		  {% endif %}
		  {% if snipe.status == 3 %}
                  <td><span class="label"> Canceled </span></td>
                  {% endif %}
                  <td>{{ snipe.event.group.name }}</td>
                  <td><a href="{{ snipe.event.url }}" target="_blank">{{ snipe.event.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
