{% import "bootstrap_wtf.html" as wtf %}
{% if snipes %}
    <h2 class="text-info" id="snipes-title">Snipes</h2>
{% endif %}
{% if not snipes %}
    <h2 class="text-info" id="snipes-title">No Snipes</h2>
{% endif %}
<p>
    <small>Your scheduled and completed snipes. To cancel future snipes, delete the subscription for the group.</small>
</p>
{% if snipes %}
    <div class="well well-small">
        <table class="table">
            <thead>
            <tr>
                <th class="span2">Status</th>
                <th class="span6">Group</th>
                <th class="span4">Event</th>
            </tr>
            </thead>
            <tbody>
            {% for snipe in snipes %}
                <tr>
                  {% if snipe.status == 0 %}
                  <td><a class="btn btn-warning btn-mini"> Scheduled </a></td>
		  {% endif %}
		  {% if snipe.status == 1 %}
                  <td><a class="btn btn-success btn-mini"> Succeded </a></td>
		  {% endif %}
		  {% if snipe.status == 2 %}
                  <td>
		    {% if snipe.error_msg %}
		    <a id="error-msg" class="btn btn-danger btn-mini" rel="tooltip"
                    data-trigger="hover"
                       data-content="<div><p class='muted'>{{ snipe.error_msg }}</p></div>"
                       ><i class="icon-white icon-info-sign"></i> Failed</a>
		    {% endif %}
		  </td>
		  {% endif %}
		  {% if snipe.status == 3 %}
                  <td><a class="btn btn-mini"> Canceled </a></td>
                  {% endif %}
                  <td>{{ snipe.event.group.name }}</td>
                  <td><a href="{{ snipe.event.url }}" target="_blank">{{ snipe.event.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
