{% import "bootstrap_wtf.html" as wtf %}
{% if snipes %}
    <h2 class="text-info" id="snipes-title">Snipes</h2>
{% endif %}
{% if not snipes %}
    <h2 class="text-info" id="snipes-title">No Snipes</h2>
{% endif %}
<p>
    <small>Your scheduled and completed snipes. To cancel future snipes, delete the subscription for the group.</small>
</p>
{% if snipes %}
    <div class="well well-small">
        <table class="table" id="snipes-table">
            <thead>
            <tr>
                <th class="span2">Status</th>
                <th class="span6">Group</th>
                <th class="span4">Event</th>
            </tr>
            </thead>
            <tbody>
            {% for snipe in snipes %}
                <tr data-group-id="{{snipe.event.group.meetup_id}}">
                  {% if snipe.status == 0 %}
                  <td><span class="alert alert-info snipe-status-alert"> Scheduled </span></td>
		  {% endif %}
		  {% if snipe.status == 1 %}
                  <td><span class="alert alert-success snipe-status-alert"> Succeded </span></td>
		  {% endif %}
		  {% if snipe.status == 2 %}
                  <td>
		    <span class="alert alert-error snipe-status-alert">Failed</span>
		    {% if snipe.error_msg %}
		  <a rel="tooltip" data-trigger="hover" id="error-msg" data-content="<div><p class='muted'>{{ snipe.error_msg }}</p></div>">
		    <i class="icon icon-info-sign" ></i></a> 
		  {% endif %}
		  </td>
		  {% endif %}
		  {% if snipe.status == 3 %}
                  <td><span class="alert alert-warning snipe-status-alert"> Canceled </span></td>
                  {% endif %}
                  <td>{{ snipe.event.group.name }}</td>
                  <td><a href="{{ snipe.event.url }}" target="_blank">{{ snipe.event.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
