<div id="social-buttons" class="hidden-print">
    <div class="container">
        <ul class="unstyled inline">
            <li>
                <iframe class="github-btn"
                        src="http://ghbtns.com/github-btn.html?user=nnja&repo=snipey&type=watch&count=true"
                        allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
            </li>
            <li>
                <iframe class="github-btn"
                        src="http://ghbtns.com/github-btn.html?user=nnja&repo=snipey&type=fork&count=true"
                        allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
            </li>
            <li class="follow-btn">
                <a href="https://twitter.com/nnja" class="twitter-follow-button"
                   data-link-color="#0069D6" data-show-count="true">Follow @nnja</a>
            </li>
        </ul>
    </div>
</div>
