{% import "bootstrap_wtf.html" as wtf %}
{% if not subscriptions %}
    <h2 class="text-info">You have no active subscriptions</h2>
{% else %}
    <h2 class="text-info">Subscriptions</h2>
{% endif %}
<p>
    <small>Subscribe to a Meetup Group to automatically Snipe a spot
    as soon as a new event is added.</small>
</p>
<div class="btn-toolbar">
    <a href="{{ url_for('subscribe') }}">
        <button class="btn {%if not subscriptions %}btn-xlarge btn-info"{% else %}btn-primary{% endif %}">Add Subscriptions</button>
    </a>
</div>

{% if subscriptions %}
    <div class="well well-small">
        <table class="table" id="subtable">
            <thead>
            <tr>
              <th class="span6">Group</th>
              <th style="width: 36px;" class="span4">Unsubscribe</th>
            </tr>
            </thead>
            <tbody>
            {% for group in subscriptions %}
              <tr id={{group.meetup_id}}>
                <td> {{ group.name }}</td>
                <td>
                  <a href=# role="button" id="unsubscribe"><i class="icon-remove" id="unsubscribe"></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  {% endif %}
