Pygments==1.6
amqp==1.0.11
anyjson==0.3.3
billiard==2.7.3.28
bpython==0.12
bzr==2.5.1
celery==3.0.19
epc==0.0.5
flake8==2.0
git-remote-helpers==0.1.0
httplib2==0.8
jedi==0.6.0
kombu==2.5.10
librabbitmq==1.0.1
logilab-astng==0.24.3
logilab-common==0.59.1
lxml==3.2.1
mccabe==0.2.1
mercurial==2.6.3
mock==1.0.1
oauth2==1.5.211
pep8==1.4.5
pyflakes==0.7.2
python-dateutil==2.1
requests==1.1.0
ropemacs==0.7
sexpdata==0.0.3
six==1.3.0
stevedore==0.10
termcolor==1.1.0
vboxapi==1.0
virtualenv==1.10
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
yanc==0.2.4
