{% extends "bootstrap_responsive.html" %}
{% block style %}
    {{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='css/bootstrap-extensions.css') }}">
{% endblock %}
{% block body_content %}
    <div id="wrap">
        {% include 'includes/navbar.html' %}
        {% block content %}
        {% endblock %}
        <div id="push"></div>
    </div>
    {% include 'includes/footer.html' %}
{% endblock %}
{% block bootstrap_js_bottom %}
    {{ super() }}
    <script src="http://platform.twitter.com/widgets.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-popover.js') }}"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}
