{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block body_content %}
    {% include "navbar.html" %}
    <div class="span6 span-fixed-sidebar">
        <div class="container-narrow">
            {% include "flash.html" %}
            <h2 class="text-info">Subscribe to a Group</h2>

            <p>
                <small>Private groups are currently not supported.</small>
            </p>

            <form method="POST" class="form-inline">
                <div class="well well-small">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, False) }}
                    {{ form.groups }}
                </div>
                <button class="btn btn-primary" type="submit"> Submit</button>
                <a class="btn btn-danger" href="{{ url_for('snipes') }}"> Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}